/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
    margin:5px;
    color: #A8C38C;
    font-size: 50px;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
    margin:5px;
    color: #A8C38C;
    font-size: 30px;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px #A8C38C solid;
    margin:5px;
    color: #A8C38C;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    background-color: #594e4a;
}

body {
    background-color:#4F3B34;
}

.Link {
    color: #b2e2f0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.glasses {
    position: fixed;
    top: 870px;
    right: 22px;
    width: 100px;
    cursor: pointer;
    border-radius: 20%;
    shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.circle {
    position: fixed;
    top: 810px;
    right: 0.5px;
    width: 150px;
    cursor: pointer;
}
.navbar {
    position: fixed;
    font-size: 30px;
    color: #A8C38C;
}
.Lang {
    color: #A8C38C;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.Lang:hover {
  background-color:#594e4a;
  font-size: 23px;
}
.section:hover {
  background-color:#594e4a;
  font-size: 28px;
  size: 28px;
}
.footer {
    font-size: 30px;
    color: #A8C38C;
    text-align: center;
}